<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.parking.mapper.FeedbackMapper">

    <select id="searchFeedback" parameterType="com.example.parking.pojo.form.RecordsForm" resultType="com.example.parking.pojo.Feedback">
        SELECT * FROM feedback
        <where>
            <if test="status != null">
                AND status =#{status}
            </if>
            <if test="id != null">
                AND open_id =#{openId}
            </if>
        </where>
        limit #{start},#{pageSize}
    </select>

</mapper>
